body {
  background: url('./images/fundo-star-wars.png') no-repeat;
  background-size: cover;
  color: white;
}

.traco {
  background: white;
  height: 180px;
  margin: auto;
  margin-top: -103px;
  width: 1px;
}
