body {
  background: url('./images/fundo-star-wars.png') no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(47, 193, 140, 0.35);
  background-size: cover;
  color: white;
}

.traco {
  background: white;
  height: 180px;
  margin: auto;
  margin-top: -103px;
  width: 1px;
}

.main {
  border: 1px solid white;
  border-radius: var(--border-rasius2);
  padding: 20px;
}
