* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #FAE60A;
  --yellow-RGBA: rgba(250, 230, 10, 0.3);
  --white-RGBA: rgba(255, 255, 255, 0.5);
  --gray-dark: #2E3035;
  --gray-dark2: #444955;
  --gray: #7E7E7E;
  --border-rasius1: 0.25rem;
  --border-rasius2: 1.5rem;
}

::selection {
  background-color: var(--yellow);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--gray-dark2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: var(--border-rasius2);
}

img {
  animation: go-back 2s;
}

@keyframes go-back {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(-10px)
  }
} 